* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    /* background: #081b29; */
    color: #ededed;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 10%;
    background: transparent; 
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.logo {
    position: relative;
    font-size: 25px;
    color: #f8f8f8;
    text-decoration: none;
    font-weight: 600;
    transition: 0.3s;
}

.logo::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: #464B5E;
    animation: showRight 1s ease forwards;
    animation-delay: .4s;
}

.logo:hover {
    font-size: 26px;
    color: #40acb4;
}

.navbar a {
    font-size: 15px;
    color: #ffffff;
    text-decoration: none;
    font-weight: 500;
    margin-left: 35px;
    transition: 0.3s;
}

.navbar a:hover {
    font-size: 16px;
    color: rgb(167, 221, 172);
    text-decoration-line: underline;
}

.home {
    height: 100vh;
    background: url('profile2.jpg') no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    padding: 0 10%;
}

.home-content {
    max-width: 250;

}

.home-content h1 {
    /* position: relative; */
    font-size: 56px;
    font-weight: 700;
    line-height: 1.2;
}

.home-content h1::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: #464B5E;
    animation: showRight 1s ease forwards;
    animation-delay: 1s;
}

.home-content h3 {
    font-size: 32px;
    font-weight: 700;
    color: rgb(65, 244, 244);
}


.home-content h3::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: #464B5E;
    animation: showRight 1s ease forwards;
    animation-delay: 1.2s;
}


.home-content p {
    font-size: 16px;  
    margin: 20px 0 40px;  
    width: 55%;
}

.home-content p::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: #464B5E;
    animation: showRight 1s ease forwards;
    animation-delay: 1.2s;
}

.home-content .bttn-box {
    display: flex;
    justify-content: space-between;
    width: 345px;
    height: 50px;
    /* background: ; */
}

.home-content .bttn-box::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: #464B5E;
    animation: showRight 1s ease forwards;
    animation-delay: 1.3s;
    z-index: 2;
}

.bttn-box a {
    position: relative;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 150px;
    height: 100%;
    background: #00abf0;
    border: 2px solid #00abf0;
    border-radius: 8px;
    font-size: 19px;
    color: #081b29;
    text-decoration: none;
    font-weight: 600;
    letter-spacing: 1px;
    z-index: 1;
    overflow: hidden;
    transition: 0.4s;
}

.bttn-box a:hover {
    color: #00abf0;
}

.bttn-box a:nth-child(2) {
    background: transparent;
    color: #00abf0;
}

.bttn-box a:nth-child(2):hover {
    color: #081b29;
}

.bttn-box a:nth-child(2)::before {
    background: #00abf0;
}

.bttn-box a::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: #081b29;
    z-index: -1;
    transition: 0.4s;
}

.bttn-box a:hover::before {
    width: 100%;
}

.home-sci {
    position: absolute;
    bottom: 40px;
    width: 170px;
    display: flex;
    justify-content: space-between;
}

.home-sci::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: #464B5E;
    animation: showRight 1s ease forwards;
    animation-delay: 1.5s;
    z-index: 2;
}

.home-sci a {
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background: transparent;
    border: 2px solid #00abf0;
    border-radius: 50%;
    font-size: 20px;
    color: #00abf0;
    text-decoration: none;
    z-index: 1;
    overflow: hidden;
    transition: 0.5s;
}

.home-sci a:hover {
    color: #081b29;
}

.home-sci a::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: #00abf0;
    z-index: -1;
    transition: 0.5s;
}

.home-sci a:hover::before {
    width: 100%;

}

.home-imgHover {
    position: absolute;
    top: 0;
    right: 120px;
    width: 530px;
    height: 100%;
    background: transparent;
    transition: 0.8s;
    animation: manipActiveHover .1s forwards;
    animation-delay: 4s;
    pointer-events: none;
}

.home-imgHover:hover {
    background: #464B5E;
    opacity: 0.7;
}

.home-imgHover::after{
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 120%;
    height: 100%;
    background: #464B5E;
    animation: showRight 1s ease forwards;
    animation-delay: 2s;
    z-index: 100;
}

/* KEYFRAMES ANIMATION */

@keyframes showRight {
    100% {
        width: 0;
    }
}

@keyframes manipActiveHover {
    100%{
        pointer-events: auto;
    }
}